<div class="container">
<h1 class="title">SpendWise</h1>
<h2 class="title_one">Empower Your Finances, Master Your Budget</h2>
<div class="buttons">
    <%= link_to "Log In" , new_user_session_path, class: "signin" %>
    <%= link_to "Sign Up" , new_user_registration_path, class: "signup" %>
</div>
</div>