@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3,
h4 {
  font-family: "Lobster", cursive;
}

a { text-decoration: none;}
:root {
    --primary-color: #3778c2;
    --secondary-color: #5fb523;
    --text-color: #434b54;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 1% 2%;
    width: 90%;
    border: 2px solid var(--text-color);
    margin-inline: auto;
}

.category p {
    color: var(--text-color);
    font-size: 1.4em;
}
.category_head {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    background-color: var(--primary-color);
}

.category_head i {
    font-size: 1.3em;
}

.category img {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:var(--secondary-color);
    color: white;
    gap: 10px;
    border: 1px solid white;
    width: 30%;
    margin-inline: auto;
    padding: 1em 0;
  }

  .footer p {
    color: white;
    font-size: 100%;
    
  }

  .footer i {
    font-size: 1.3em;
}

.footer_container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer_link {
    color: white;
    font-size: 100%;
    
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  gap: 10px
}

.form-container .submit-button {
    width: 175px;
    background-color: var(--secondary-color);
    padding: 0.5em 1em;
    color: white;
    border: none;
    font-size: 1.1em;
    border-radius: 3px;
  }

  .form-container .submit-button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  .form-container input[type="text"] {
    padding: 0.5em 1em;
    margin-bottom: 10px;
  }